<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <!--fontawesone--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!--metas para la descripcion de los link cuando se comparten---->
    <meta name="description" content="venta de articulos electronicos">
    <meta property="og:type" content="website">
    <meta property="og:title" content="craftsy">
    <meta property="og:description" content="venta de articulos electronicos">
    <meta property="og:image" content="">
    <meta property="og:url" content="http://localhost:3030">

</head>
<body>
<!---cabecera---->
    <header class="home-header">
        <img src="/images/logo.png" alt="logo">
        <div class="menu">
        <a href="#">
            <i class="fa-solid fa-bars"></i>
        </a>
        </div>
        <nav class="nav-var">
           <ul>
            <li><a href="">SMARTPHONES</a></li>
            <li><a href="">TABLETS</a></li>
            <li><a href="">COMPUTADORAS</a></li>
           </ul>
        </nav>
        <div class="login">
        <a class="registro" href="#">LOGIN</a>
        <a class="registro" href="">REGISTRO</a>
        </div>
    </header>
    <div class="container">
            <main class="home-main">
                <div class="producto">
                    <article class="produc">
                        <img class="img-prod" src="/images/img-phone-01.jpg" alt="">
                        <h3>Nombre del producto</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, sint magnam eaque laborum commodi consectetur</p>
                        <a href="#" class="boton">VER MAS</a>
                    </article>

                    <article class="produc">
                        <img class="img-prod" src="/images/img-phone-02.jpg" alt="">
                        <h3>Nombre del producto</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, sint magnam eaque laborum commodi consectetur,</p>
                        <a class="boton" href="#">VER MAS</a>
                    </article>

                    <article class="produc">
                        <img class="img-prod" src="/images/img-phone-03.jpg" alt="">
                        <h3>Nombre del producto</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, sint magnam eaque laborum commodi consectetur</p>
                        <a href="#" class="boton">VER MAS</a>
                    </article>

                    <article class="produc">
                        <img class="img-prod" src="/images/img-phone-01.jpg" alt="">
                        <h3>Nombre del producto</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, sint magnam eaque laborum commodi consectetur</p>
                        <a href="#" class="boton">VER MAS</a>
                    </article>

                    <article class="produc">
                        <img class="img-prod" src="/images/img-phone-02.jpg" alt="">
                        <h3>Nombre del producto</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, sint magnam eaque laborum commodi consectetur</p>
                        <a href="#" class="boton">VER MAS</a>
                    </article>

                    <article class="produc">
                        <img class="img-prod" src="/images/img-phone-01.jpg" alt="">
                        <h3>Nombre del producto</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, sint magnam eaque laborum commodi consectetur</p>
                        <a href="#" class="boton">VER MAS</a>
                    </article>

                </div>
            </main>
            <div class="tutorial">
                <aside class="tutorial">
                    <h2>TUTORIALES</h2>
                    <article>
                        <img src="/images/aside-01.jpg" alt="">
                        <h3>Titulo del tutorial de reparacion</h3>
                    </article>

                    <article>
                        <img src="/images/aside-02.jpg" alt="">
                        <h3>Titulo del tutorial de reparacion</h3>
                    </article>

                    <article>
                        <img src="/images/aside-03.jpg" alt="">
                        <h3>Titulo del tutorial de reparacion</h3>
                    </article>

                    <article>
                        <img src="/images/aside-04.jpg" alt="">
                        <h3>Titulo del tutorial de reparacion</h3>
                    </article>

                </aside>

                <aside class="publicidad">
                    <h2>PUBLICIDAD</h2>
                    <article>
                        <img src="/images/ad-01.jpg" alt="">
                    </article>

                    <article>
                        <img src="/images/ad-02.jpg" alt="">
                    </article>            

                </aside>
            </div>

    </div>
</body>
</html>